@import "tailwindcss";

@layer base {
  html {
    box-sizing: border-box;
  }
  body {
    @apply antialiased bg-gray-200 text-gray-700 p-5;
  }

  .dark body {
    @apply bg-gray-900 text-gray-100;
  }
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

@layer components {
  .login--input {
    @apply w-24 md:w-32 lg:w-48 py-2 px-4 text-sm md:text-xl text-center  rounded-full bg-white transition-all duration-300 outline-none focus:ring-2 focus:ring-gray-300 placeholder:text-gray-400;
  }
}
