@import "tailwindcss";

@layer base {
    html{
        box-sizing: border-box;
    }
    body {
        @apply antialiased;
        color: #444;
        background-color: #f3f3f3;
        padding: 20px;
    }
    *,*::after,*::before{
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
}

@layer components {
    .login__input {
        @apply border border-transparent py-2 px-3 text-base text-center w-44 rounded-full bg-white transition-all duration-300 focus:outline-none focus:border-gray-300 placeholder:text-gray-400;
    }
}