@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        box-sizing: border-box;
    }
    body {
        @apply antialiased;
        color: #444;
        background-color: #f3f3f3;
        padding: 20px;
    }
    *,*::after,*::before{
        margin: 0;
        padding: 0;
        box-sizing: inherit;
    }
}